%main-constructor {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-areas:
    "section0 section0"
    "section1 section2"
    "section3 section3";
}

%container-size {
  height: 80vh;
  width: 100vw;
  display: grid;
}

* {
  text-align: center;
  font-weight: bolder;
  /*border: 2px black solid;*/
}

.header {
  background-color: #cfdeeb;
  grid-area: header;
}

.main {
  background-color: rgb(248, 248, 120);
  grid-area: main;
}

.section0,
.section1,
.section2,
.section3 {
  background-color: blanchedalmond;
  margin: 10px;
}
.section0 {
  background-color: rgb(248, 248, 120);
  grid-area: section0;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

.aside1 {
  background-color: #54e051;
  grid-area: aside1;
}

/*для Десктоп*/
@media screen and (min-width: 1024px) {
  .container {
    @extend %container-size;
    grid-template-rows: 15% 60% 25%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "main main aside1"
      "footer footer footer";

    .main {
      @extend %main-constructor;
    }

    .footer {
      display: grid;
      grid-area: footer;
      grid-template-columns: 20% 20% 20% 20%;
      justify-content: space-around;
      align-content: center;
      background-color: darkolivegreen;
    }
    .footer1 {
      background-color: rgb(235, 235, 245);
      color: rgb(12, 5, 5);
      width: 20vw;
      height: 10vh;
      padding-top: 50px;
    }
  }
}

/*для Планшетов*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    /*border: 2px black solid;*/
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 1fr;
    grid-template-areas:
      "header header "
      "main aside1";

    .main {
      @extend %main-constructor;
    }

    .footer {
      display: none;
    }
  }
}

/*для Смартфонов*/
@media screen and (max-width: 767px) {
  .header,
  .main,
  .aside1 {
    height: 30vh;
  }

  .main {
    @extend %main-constructor;
  }

  .footer {
    display: none;
  }
}
